import { Controller, Get, Post, Body, Param, Patch, Delete } from '@nestjs/common';
import { {{ model.name }}Service } from './{{ model.fileName }}.service';
import { Create{{ model.name }}Dto } from './dto/create-{{ model.fileName }}.dto';
import { Update{{ model.name }}Dto } from './dto/update-{{ model.fileName }}.dto';

@Controller('{{ model.route }}')
export class {{ model.name }}Controller {
  constructor(private readonly service: {{ model.name }}Service) {}

  @Post()
  create(@Body() dto: Create{{ model.name }}Dto) {
    return this.service.create(dto);
  }

  @Get()
  findAll() {
    return this.service.findAll();
  }

  @Get(':id')
  findOne(@Param('id') id: string) {
    return this.service.findOne(id);
  }

  @Patch(':id')
  update(@Param('id') id: string, @Body() dto: Update{{ model.name }}Dto) {
    return this.service.update(id, dto);
  }

  @Delete(':id')
  remove(@Param('id') id: string) {
    return this.service.remove(id);
  }
}
